<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road2Gainz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>



</head>


<body>
        <div style="justify-content: space-evenly;" id="navbar" class="ui secondary pointing menu">
                <a href="../index.html" class="item">
                    Home
                </a>
                <a  href="./exercise1.html" class="item">
                    Exercises
                </a>
                <a  href="./diet.html" class="item">
                    diet
                </a>
                <a  href="./goals.html" class="item active">
                    Goals
                </a>
                </a>
                <a  href="./progress.html" class="item">
                    Progress Report
                </a>
                
                
            </div>
    <h1>

        <a href="../index.html"> <button
                style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
                class="ui icon button">
                <i class="big left arrow icon"></i>
            </button></a>

    </h1>
    <div class="ui three column center aligned stackable grid" id="goalGrid">
        <div class="row">
            <div class="column">
                <h1>
                    Recently Added Goals
                </h1>
                <div class="checkcols">
                    <div id="theContainer">
                        <div class="ui checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" name="exampleGoal">
                            <label>Bench 200 lbs</label>
                        </div>
                        <img src="bench.png" width="30" height="30"> 
                        <br>
                        <div class="ui checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" name="exampleGoal2">
                            <label>Bench 201 lbs</label>
                        </div>
                        <img src="bench.png" width="30" height="30"> 
                    </div>
                </div>
            </div>
            <div class="column">
                <h1>
                    Recently Completed Goals
                </h1>
                <div class="checkcols">
                    <div id="theContainer">
                        <div class="ui checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" checked="" name="exampleComplete" onclick="return false;">
                            <label>Bench 200 lbs</label>
                        </div>
                        <img src="bench.png" width="30" height="30">                        
                        <br>
                        <div class="ui checkbox align-items center" style="margin-bottom: 20px;" >
                            <input type="checkbox" checked="" name="exampleComplete2" onclick="return false;">
                            <label>Bench 201 lbs</label>
                            
                        </div>
                        <img src="bench.png" width="30" height="30">
                    </div>
                </div>
            </div>
        </div>
        
        <h1>
            Add new Goal:
        </h1>
        <div class="row" style="margin-bottom: 20px;">
            <div class="cols">
                <img style="border: 2px solid black;" class="ui tiny image"
                src="../stylesheets/images/plus.png">
            </div>
                <input type="text" name="newItem" style="transform: scale(0.75);" id="InputText">
        </div>
    </div>
    

    <script>
        document.querySelectorAll('.cols').forEach(el => {
            // el.addEventListener('mousemove', handleMove);
            el.addEventListener('mouseover', function () {
                el.style.transform = 'perspective(500px) scale(1.1) ';
            })
            console.log(el);
            /* Add listener for mouseout event, remove the rotation */
            el.addEventListener('mouseout', function () {
                el.style.transform = 'perspective(500px) scale(1)'
            })

            /* Add listener for mousedown event, to simulate click */
            el.addEventListener('mousedown', function () {
                el.style.transform = 'perspective(500px) scale(0.9)'
            })

            /* Add listener for mouseup, simulate release of mouse click */
            el.addEventListener('mouseup', function () {
                el.style.transform = 'perspective(500px) scale(1.1)'
            })
            
            el.addEventListener('click', function() {
                var text = document.getElementById('InputText').value;
                var classContain = document.createElement('div');
                classContain.className = 'ui checkbox';
                //classContain.type = 'ui checkbox';
                classContain.style = 'margin-bottom: 20px';
                var checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = text;
                checkbox.name = text;
                checkbox.value = text;
                console.log(text);
                var label = document.createElement('label')
                label.htmlFor = text;
                label.appendChild(document.createTextNode(text));
            
                var br = document.createElement('br');
                classContain.appendChild(checkbox);
                classContain.appendChild(label);
                var container = document.getElementById('theContainer');
                container.appendChild(br);
                container.appendChild(classContain);
            })
        });
    </script>
</body>

</html>