<!DOCTYPE html>
<html>
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Road2Gainz</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../charts/strengthChart.js"></script>
    </head>

    <body>

        <div style="justify-content: space-evenly;" id="navbar" class="ui secondary pointing menu">
            <a href="../index.html" class="item">
                Home
            </a>
            <a  href="./exercise1.html" class="item">
                Exercises
            </a>
            <a  href="" class="item">
                Goals
            </a>
            </a>
            <a  href="./progress.html" class="item active">
                Progress Report
            </a>
            
            
        </div>
        
        <div>
            <h1>

                <a href="../index.html"> 
                    <button
                        style="background-color: #946f9e; margin-left: 1%;position: absolute; height: 7%; display: block;"
                        class="ui icon button">
                        <i class="big left arrow icon"></i>
                    </button>
                </a>
                Progress:
    
            </h1>

        </div>

        <div class="ui two column center aligned stackable grid" style="margin:auto;">
            <div class="row">
                <div class="column ui">
                    <button id="strengthButton" class="big ui button">
                        Strength | Endurance
                    </button>
                    <div id="strengthSubButtons" class="ui vertical buttons">
                        <button class="small ui button">Bench Press</button>
                        <button class="small ui button">Dead Lift</button>
                        <button class="small ui button">Shoulder Press</button>
                        <button class="small ui button">Squat</button>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <canvas id="strengthChart"></canvas>
                    </div>
                </div>
            </div>

        </div>



    </body>



</html>